Vtool-5.93.1-p1/HTML5_Schema/rnc/html5/common.rnc

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace inherit = inherit
namespace ns1 = "http://www.w3.org/1998/Math/MathML"
namespace ns2 = "http://www.w3.org/2000/svg"

# (This only affects mixed-version modules; wholly HTML5
#  modules should simply be left out of the inclusion list.)

## features that are not part of the W3C HTML spec
nonW3C = empty

## Wildcards

## Any attribute from any namespace
common.attr.anything = attribute * - (inherit:* | ns2:* | ns1:*) { text }*

## Any element from any namespace
common.elem.anything =
  element * - (inherit:* | ns2:* | ns1:*) { common.inner.anything & common.attr.anything }

## Any content from any namespace
common.inner.anything = text & common.elem.anything*

## Phrase Elements
common.elem.phrasing =
  # defined complete content model of common pattern in this common file, 
  # instead of relying on pattern combinations by choice
  
  # not allowed element references are commented out
  a.elem.phrasing
  | abbr.elem
  | audio.elem.phrasing
  | area.elem
  | b.elem
  | # <ref name="bdi.elem"/>
    
    # <ref name="bdo.elem"/>
    br.elem
  | button.elem
  | code.elem
  | cite.elem
  | # <ref name="data.elem"/>
    datalist.elem
  | del.elem.phrasing
  | dfn.elem
  | em.elem
  | embed.elem
  | # <ref name="iframe.elem"/>
    i.elem
  | img.elem
  | input.elem
  | ins.elem.phrasing
  | # <ref name="kbd.elem"/>
    label.elem
  | link.elem
  | # <ref name="link.elem.phrasing"/>
    link.rdfa.elem.phrasing
  | mark.elem
  | math
  | map.elem.phrasing
  | # <ref name="meta.itemprop.elem"/>
    meta.property-no-name.elem
  | meter.elem
  | object.elem.phrasing
  | output.elem
  | picture.elem
  | q.elem
  | ruby.elem
  | s.elem
  | samp.elem
  | select.elem
  | small.elem
  | span.elem
  | strong.elem
  | sub.elem
  | sup.elem
  | svg
  | # <ref name="template.elem"/>
    textarea.elem
  | # <ref name="time.elem"/>
    
    # <ref name="time.datetime.elem"/>
    
    # <ref name="script.elem"/>
    u.elem
  | var.elem
  | video.elem.phrasing
  | wbr.elem

## Prose Elements
common.elem.flow =
  common.elem.phrasing
  | a.elem.flow
  | address.elem
  | article.elem
  | aside.elem
  | audio.elem.flow
  | blockquote.elem
  | del.elem.flow
  | details.elem
  | div.elem
  | dl.elem
  | fieldset.elem
  | figure.elem
  | footer.elem
  | form.elem
  | header.elem
  | hgroup.elem
  | hr.elem
  | h1.elem
  | h2.elem
  | h3.elem
  | h4.elem
  | h5.elem
  | h6.elem
  | ins.elem.flow
  | link.elem
  | main.elem
  | map.elem.flow
  | math
  | nav.elem
  | object.elem.flow
  | ol.elem
  | p.elem
  | pre.elem
  | section.elem
  | svg
  | table.elem
  | ul.elem
  | video.elem.flow
#  <define name="common.inner.metadata">
#   <a:documentation>Common Content Models</a:documentation>
#   <a:documentation>Metadata Content</a:documentation>
#   <zeroOrMore>
#     <ref name="common.elem.metadata"/>
#   </zeroOrMore>
# </define>

## Phrase Content
common.inner.phrasing = text & common.elem.phrasing*

## Prose Content
common.inner.transparent.flow = text & common.elem.flow*
common.inner.flow = text & common.elem.flow*

## Common Attributes
common.attrs =
  common.attrs.basic
  & common.attrs.i18n
  & common.attrs.present
  & common.attrs.other
  & common.attrs.rdfa
common.attrs.basic =
  common.attrs.id?
  & common.attrs.class?
  & common.attrs.title?
  & common.attrs.base?
  & common.attrs.space?
common.attrs.id =
  attribute id {
    xsd:NCName
    # TODO: ID gives conflict
    
  }
common.attrs.class = attribute class { common.data.tokens }
common.attrs.title = attribute title { text }
common.attrs.base = common.attrs.xmlbase
common.attrs.xmlbase =
  attribute xml:base { common.data.uri }
  & notAllowed
common.attrs.space = common.attrs.xmlspace
common.attrs.xmlspace = attribute xml:space { string "preserve" | string "default" }
common.attrs.i18n = common.attrs.dir? & common.attrs.language? & common.attrs.translate?
common.attrs.dir = attribute dir { string "ltr" | string "rtl" | string "auto" }
# This lang definition is a hack for environments where
# the HTML5 parser maps lang to xml:lang.
# Sameness check left to Schematron
common.attrs.language = common.attrs.xmllang? & common.attrs.lang?
common.attrs.lang =
  attribute lang {
    # common.data.langcode
    string ""
    | xsd:string { pattern = "([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*" }
  }
# & XMLonly
# commented out because @xml:lang and @lang both have to present. 
# https://www.w3.org/TR/html5/dom.html#the-lang-and-xmllang-attributes 
common.attrs.xmllang =
  attribute xml:lang {
    # common.data.langcode
    string ""
    | xsd:string { pattern = "([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*" }
  }
common.attrs.translate = attribute translate { string "" | string "yes" | string "no" }
common.attrs.present =
  (common.attrs.style?)
  # <optional><ref name="common.attrs.tabindex"/></optional>
  
  # <optional><ref name="common.attrs.accesskey"/></optional>
  
common.attrs.style = attribute style { string }
common.attrs.tabindex =
  attribute tabindex {
    xsd:string { pattern = "-?[0-9]+" }
  }
# REVISIT move style to a module and bundle tabindex with ARIA
common.attrs.accesskey =
  attribute accesskey {
    # common.data.keylabellist
    xsd:string { pattern = "(.){1}" }
  }
common.attrs.other = empty

##  Common Datatypes

## Names and Tokens
common.data.tokens = list { token* }
common.data.browsing-context =
  # w:browsing-context
  xsd:string
common.data.browsing-context-or-keyword =
  # w:browsing-context-or-keyword
  xsd:string {
    pattern =
      "()|([^_].*)|(_[bB][lL][aA][nN][kK])|(_[sS][eE][lL][fF])|(_[pP][aA][rR][eE][nN][tT])|(_[tT][oO][pP])"
  }

## IDs and IDREFs
common.data.id = xsd:ID
common.data.idref = xsd:IDREF
common.data.idrefs = xsd:IDREFS
common.data.name = xsd:ID
# FIXME
common.data.hash-name =
  # w:hash-name
  xsd:string { pattern = "#.+" }

## Numerical
common.data.integer = xsd:integer
common.data.integer.positive = xsd:positiveInteger
common.data.integer.non-negative = xsd:nonNegativeInteger
# common.data.percent =
#	xsd:string {
#		pattern = "(100)|([1-9]?[0-9](\.[0-9]+)?)%"
#	}
common.data.float = xsd:float
common.data.float.positive =
  xsd:float { pattern = "(0*[1-9][0-9]*(\.[0-9]+)?)|([0-9]+(\.0*[1-9][0-9]*)?)([eE]-?[0-9]+)?" }
common.data.float.non-negative = xsd:float { pattern = "[0-9]+(\.[0-9]+)?([eE]-?[0-9]+)?" }

## Temporal
common.data.datetime =
  xsd:dateTime { pattern = "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$" }
common.data.date = xsd:date

## IRIs
common.data.uri =
  # allow either a non-empty IRI ref or zero or more HTML
  # space characters (which are: space, tab, LF, FF, CR)
  xsd:anyURI { pattern = "([a-zA-Z0-9\-_\.!~\*#'\(\);/\?:@&=\+$,]|(%[a-fA-F0-9]{2}))+" }
  # NOTE The range above incorrectly allows U+000B
  # in addition to the HTML space characters; but
  # that's not a problem in practice because HTML
  # and XML parsers will both catch any U+000B
  # and report an error for it before that pattern
  # ever gets evaluated.
  
common.data.uri.absolute = xsd:anyURI

## color for <link rel="mask-icon"> and <meta name="theme-color">
common.data.color = xsd:token { pattern = "^#([A-Fa-f0-9]{6})$" }

## MIME types
common.data.mimetype = xsd:token { pattern = "[^ ].+/[^ ].+$" }

## Default style
common.data.default-style = xsd:string

## Language Codes
common.data.langcode =
  xsd:token { pattern = "([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*" }

## List of Key Labels
common.data.keylabellist = xsd:token { pattern = "(.){1}" }

##  ARIA Module Hooks #
common.attrs.aria = notAllowed
common.attrs.aria.role.alert = notAllowed
common.attrs.aria.role.alertdialog = notAllowed
common.attrs.aria.role.application = notAllowed
common.attrs.aria.role.article = notAllowed
common.attrs.aria.role.banner = notAllowed
common.attrs.aria.role.button = notAllowed
common.attrs.aria.role.cell |= notAllowed
common.attrs.aria.role.checkbox = notAllowed
common.attrs.aria.role.combobox = notAllowed
common.attrs.aria.role.complementary = notAllowed
common.attrs.aria.role.contentinfo = notAllowed
common.attrs.aria.role.dialog = notAllowed
common.attrs.aria.role.directory = notAllowed
common.attrs.aria.role.document = notAllowed
common.attrs.aria.role.feed |= notAllowed
common.attrs.aria.role.figure |= notAllowed
common.attrs.aria.role.group = notAllowed
common.attrs.aria.role.heading = notAllowed
common.attrs.aria.role.img = notAllowed
common.attrs.aria.role.link = notAllowed
common.attrs.aria.role.list = notAllowed
common.attrs.aria.role.listitem = notAllowed
common.attrs.aria.role.log = notAllowed
common.attrs.aria.role.listbox = notAllowed
common.attrs.aria.role.main = notAllowed
common.attrs.aria.role.marquee = notAllowed
common.attrs.aria.role.menu = notAllowed
common.attrs.aria.role.menubar = notAllowed
common.attrs.aria.role.menuitem = notAllowed
common.attrs.aria.role.menuitemcheckbox = notAllowed
common.attrs.aria.role.menuitemradio = notAllowed
common.attrs.aria.role.note = notAllowed
common.attrs.aria.role.option = notAllowed
common.attrs.aria.role.presentation = notAllowed
common.attrs.aria.role.progressbar = notAllowed
common.attrs.aria.role.radio = notAllowed
common.attrs.aria.role.radiogroup |= notAllowed
common.attrs.aria.role.region = notAllowed
common.attrs.aria.role.rowgroup |= notAllowed
common.attrs.aria.role.search = notAllowed
common.attrs.aria.role.searchbox |= notAllowed
common.attrs.aria.role.separator = notAllowed
common.attrs.aria.role.slider = notAllowed
common.attrs.aria.role.spinbutton = notAllowed
common.attrs.aria.role.status = notAllowed
common.attrs.aria.role.switch = notAllowed
common.attrs.aria.role.tab = notAllowed
common.attrs.aria.role.table |= notAllowed
common.attrs.aria.role.tablist = notAllowed
common.attrs.aria.role.tabpanel = notAllowed
common.attrs.aria.role.textbox = notAllowed
common.attrs.aria.role.toolbar = notAllowed
common.attrs.aria.role.tree = notAllowed
common.attrs.aria.role.treeitem = notAllowed
common.attrs.aria.implicit.article = notAllowed
common.attrs.aria.implicit.banner = notAllowed
common.attrs.aria.implicit.button = notAllowed
common.attrs.aria.implicit.cell |= notAllowed
common.attrs.aria.implicit.checkbox = notAllowed
common.attrs.aria.implicit.column-or-row-header = notAllowed
common.attrs.aria.implicit.combobox = notAllowed
common.attrs.aria.implicit.complementary = notAllowed
common.attrs.aria.implicit.contentinfo = notAllowed
common.attrs.aria.implicit.dialog = notAllowed
common.attrs.aria.implicit.figure |= notAllowed
common.attrs.aria.implicit.document = notAllowed
common.attrs.aria.implicit.form = notAllowed
common.attrs.aria.implicit.group = notAllowed
common.attrs.aria.implicit.heading = notAllowed
common.attrs.aria.implicit.img = notAllowed
common.attrs.aria.implicit.landmark = notAllowed
common.attrs.aria.implicit.link = notAllowed
common.attrs.aria.implicit.list = notAllowed
common.attrs.aria.implicit.listbox = notAllowed
common.attrs.aria.implicit.listitem = notAllowed
common.attrs.aria.implicit.main = notAllowed
common.attrs.aria.implicit.navigation = notAllowed
common.attrs.aria.implicit.option = notAllowed
common.attrs.aria.implicit.progressbar = notAllowed
common.attrs.aria.implicit.radio = notAllowed
common.attrs.aria.implicit.region = notAllowed
common.attrs.aria.implicit.row |= notAllowed
common.attrs.aria.implicit.rowgroup |= notAllowed
common.attrs.aria.implicit.searchbox |= notAllowed
common.attrs.aria.implicit.section = notAllowed
common.attrs.aria.implicit.select = notAllowed
common.attrs.aria.implicit.slider = notAllowed
common.attrs.aria.implicit.spinbutton = notAllowed
common.attrs.aria.implicit.status = notAllowed
common.attrs.aria.implicit.structure = notAllowed
common.attrs.aria.implicit.table |= notAllowed
common.attrs.aria.implicit.textbox = notAllowed
common.attrs.aria.implicit.toolbar = notAllowed
common.attrs.aria.prop.readonly = notAllowed
common.attrs.aria.landmark.application = notAllowed
common.attrs.aria.landmark.banner = notAllowed
common.attrs.aria.landmark.complementary = notAllowed
common.attrs.aria.landmark.contentinfo = notAllowed
common.attrs.aria.landmark.form = notAllowed
common.attrs.aria.landmark.main = notAllowed
common.attrs.aria.landmark.navigation = notAllowed
common.attrs.aria.landmark.search = notAllowed
# per ARIA spec: article, document, and note are not actually landmarks
common.attrs.aria.landmark.article = notAllowed
common.attrs.aria.landmark.document = notAllowed
common.attrs.aria.landmark.note = notAllowed
common.attrs.aria.role.doc-abstract = notAllowed
common.attrs.aria.role.doc-acknowledgments = notAllowed
common.attrs.aria.role.doc-afterword = notAllowed
common.attrs.aria.role.doc-appendix = notAllowed
common.attrs.aria.role.doc-backlink = notAllowed
common.attrs.aria.role.doc-biblioentry = notAllowed
common.attrs.aria.role.doc-bibliography = notAllowed
common.attrs.aria.role.doc-biblioref = notAllowed
common.attrs.aria.role.doc-chapter = notAllowed
common.attrs.aria.role.doc-colophon = notAllowed
common.attrs.aria.role.doc-conclusion = notAllowed
common.attrs.aria.role.doc-cover = notAllowed
common.attrs.aria.role.doc-credit = notAllowed
common.attrs.aria.role.doc-credits = notAllowed
common.attrs.aria.role.doc-dedication = notAllowed
common.attrs.aria.role.doc-endnote = notAllowed
common.attrs.aria.role.doc-endnotes = notAllowed
common.attrs.aria.role.doc-epigraph = notAllowed
common.attrs.aria.role.doc-epilogue = notAllowed
common.attrs.aria.role.doc-errata = notAllowed
common.attrs.aria.role.doc-example = notAllowed
common.attrs.aria.role.doc-footnote = notAllowed
common.attrs.aria.role.doc-foreword = notAllowed
common.attrs.aria.role.doc-glossary = notAllowed
common.attrs.aria.role.doc-glossref = notAllowed
common.attrs.aria.role.doc-index = notAllowed
common.attrs.aria.role.doc-introduction = notAllowed
common.attrs.aria.role.doc-noteref = notAllowed
common.attrs.aria.role.doc-notice = notAllowed
common.attrs.aria.role.doc-pagebreak = notAllowed
common.attrs.aria.role.doc-pagelist = notAllowed
common.attrs.aria.role.doc-part = notAllowed
common.attrs.aria.role.doc-preface = notAllowed
common.attrs.aria.role.doc-prologue = notAllowed
common.attrs.aria.role.doc-pullquote = notAllowed
common.attrs.aria.role.doc-qna = notAllowed
common.attrs.aria.role.doc-subtitle = notAllowed
common.attrs.aria.role.doc-tip = notAllowed
common.attrs.aria.role.doc-toc = notAllowed
