Vtool-5.93.1-p1/HTML5_Schema/rng/html5/block.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- ##################################################################### -->
  <define name="p.elem">
    <a:documentation> RELAX NG Schema for HTML 5: Basic Prose Markup                    #</a:documentation>
    <!-- ##################################################################### -->
    <!-- ##################################################################### -->
    <a:documentation>Paragraph-Level</a:documentation>
    <a:documentation>Paragraph: &lt;p&gt;</a:documentation>
    <element name="p">
      <interleave>
        <ref name="p.inner"/>
        <ref name="p.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="p.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="p.inner">
    <ref name="common.inner.phrasing"/>
  </define>
  <!-- REVISIT lists in span? -->
  <define name="hr.elem">
    <a:documentation>Hint Transition: &lt;hr&gt;</a:documentation>
    <element name="hr">
      <interleave>
        <ref name="hr.inner"/>
        <ref name="hr.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="hr.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.separator"/>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.doc-pagebreak"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="hr.inner">
    <empty/>
  </define>
  <!-- ##################################################################### -->
  <define name="pre.elem">
    <a:documentation>Preformatting Blocks</a:documentation>
    <a:documentation>Preformatted Text: &lt;pre&gt;</a:documentation>
    <element name="pre">
      <interleave>
        <ref name="pre.inner"/>
        <ref name="pre.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="pre.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="pre.inner">
    <ref name="common.inner.phrasing"/>
  </define>
  <!-- ##################################################################### -->
  <define name="ul.elem">
    <a:documentation>Simple Lists</a:documentation>
    <a:documentation>Unordered List: &lt;ul&gt;</a:documentation>
    <element name="ul">
      <interleave>
        <ref name="ul.inner"/>
        <ref name="ul.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="ul.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <choice>
            <ref name="common.attrs.aria.role.directory"/>
            <ref name="common.attrs.aria.role.group"/>
            <ref name="common.attrs.aria.role.list"/>
            <ref name="common.attrs.aria.role.listbox"/>
            <ref name="common.attrs.aria.role.menu"/>
            <ref name="common.attrs.aria.role.menubar"/>
            <ref name="common.attrs.aria.role.radiogroup"/>
            <ref name="common.attrs.aria.role.tablist"/>
            <ref name="common.attrs.aria.role.toolbar"/>
            <ref name="common.attrs.aria.role.tree"/>
            <ref name="common.attrs.aria.role.presentation"/>
          </choice>
          <ref name="common.attrs.aria.implicit.list"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="ul.inner">
    <interleave>
      <zeroOrMore>
        <ref name="li.elem"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="li.elem">
    <a:documentation>Unordered List Item: &lt;li&gt;</a:documentation>
    <element name="li">
      <interleave>
        <ref name="li.inner"/>
        <ref name="li.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="li.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.listitem"/>
          <ref name="common.attrs.aria.role.listitem"/>
          <ref name="common.attrs.aria.role.menuitem"/>
          <ref name="common.attrs.aria.role.menuitemcheckbox"/>
          <ref name="common.attrs.aria.role.menuitemradio"/>
          <ref name="common.attrs.aria.role.option"/>
          <ref name="common.attrs.aria.role.radio"/>
          <ref name="common.attrs.aria.role.tab"/>
          <ref name="common.attrs.aria.role.treeitem"/>
          <ref name="common.attrs.aria.role.separator"/>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.doc-biblioentry"/>
          <ref name="common.attrs.aria.role.doc-endnote"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="li.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="ol.elem">
    <a:documentation>Ordered List: &lt;ol&gt;</a:documentation>
    <element name="ol">
      <interleave>
        <ref name="ol.inner"/>
        <ref name="ol.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="ol.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional><ref name="ol.attrs.start"/></optional>
      <optional><ref name="ol.attrs.reversed"/></optional>
      <optional><ref name="ol.attrs.type"/></optional>
      <optional>
        <choice>
          <choice>
            <ref name="common.attrs.aria.role.directory"/>
            <ref name="common.attrs.aria.role.group"/>
            <ref name="common.attrs.aria.role.list"/>
            <ref name="common.attrs.aria.role.listbox"/>
            <ref name="common.attrs.aria.role.menu"/>
            <ref name="common.attrs.aria.role.menubar"/>
            <ref name="common.attrs.aria.role.radiogroup"/>
            <ref name="common.attrs.aria.role.tablist"/>
            <ref name="common.attrs.aria.role.toolbar"/>
            <ref name="common.attrs.aria.role.tree"/>
            <ref name="common.attrs.aria.role.presentation"/>
          </choice>
          <ref name="common.attrs.aria.implicit.list"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="ol.attrs.start">
    <attribute name="start">
      <!-- common.data.integer -->
      <data type="string">
        <param name="pattern">-?[0-9]+</param>
      </data>
    </attribute>
  </define>
  <define name="ol.attrs.reversed">
    <attribute name="reversed">
      <choice>
        <value type="string" datatypeLibrary="">reversed</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="ol.attrs.type">
    <attribute name="type">
      <choice>
        <value type="string" datatypeLibrary="">1</value>
        <value type="string" datatypeLibrary="">a</value>
        <value type="string" datatypeLibrary="">A</value>
        <value type="string" datatypeLibrary="">i</value>
        <value type="string" datatypeLibrary="">I</value>
      </choice>
    </attribute>
  </define>
  <define name="ol.inner">
    <interleave>
      <zeroOrMore>
        <ref name="oli.elem"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="oli.elem">
    <a:documentation>Ordered List Item: &lt;li&gt;</a:documentation>
    <element name="li">
      <interleave>
        <ref name="oli.inner"/>
        <ref name="oli.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="oli.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="oli.attrs.value"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.listitem"/>
          <ref name="common.attrs.aria.role.listitem"/>
          <ref name="common.attrs.aria.role.menuitem"/>
          <ref name="common.attrs.aria.role.menuitemcheckbox"/>
          <ref name="common.attrs.aria.role.menuitemradio"/>
          <ref name="common.attrs.aria.role.option"/>
          <ref name="common.attrs.aria.role.radio"/>
          <ref name="common.attrs.aria.role.tab"/>
          <ref name="common.attrs.aria.role.treeitem"/>
          <ref name="common.attrs.aria.role.separator"/>
          <ref name="common.attrs.aria.role.presentation"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="oli.attrs.value">
    <attribute name="value">
      <!-- common.data.integer -->
      <data type="string">
        <param name="pattern">-?[0-9]+</param>
      </data>
    </attribute>
  </define>
  <define name="oli.inner">
    <ref name="common.inner.flow"/>
  </define>
  <!-- ##################################################################### -->
  <define name="dl.elem">
    <a:documentation>Definition Lists</a:documentation>
    <a:documentation>Definition List: &lt;dl&gt;</a:documentation>
    <element name="dl">
      <interleave>
        <ref name="dl.inner"/>
        <ref name="dl.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="dl.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.list"/>
          <ref name="common.attrs.aria.role.list"/>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.doc-glossary"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="dl.inner">
    <choice>
      <zeroOrMore>
        <oneOrMore>
          <ref name="dt.elem"/>
        </oneOrMore>
        <oneOrMore>
          <ref name="dd.elem"/>
        </oneOrMore>
      </zeroOrMore>
      <oneOrMore>
        <ref name="dldiv.elem"/>
      </oneOrMore>
    </choice>
  </define>
  <define name="dt.elem">
    <a:documentation>Definition Term: &lt;dt&gt;</a:documentation>
    <element name="dt">
      <interleave>
        <ref name="dt.inner"/>
        <ref name="dt.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="dt.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="dt.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="dd.elem">
    <a:documentation>Definition Description: &lt;dd&gt;</a:documentation>
    <element name="dd">
      <interleave>
        <ref name="dd.inner"/>
        <ref name="dd.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="dd.elem.phrasing">
    <element name="dd">
      <interleave>
        <ref name="dd.inner.phrasing"/>
        <ref name="dd.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="dd.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="dd.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="dd.inner.phrasing">
    <ref name="common.inner.phrasing"/>
  </define>
  <!-- ##################################################################### -->
  <define name="div.elem">
    <a:documentation>Miscellaneous Elements</a:documentation>
    <a:documentation>Generic Container: &lt;div&gt;</a:documentation>
    <element name="div">
      <interleave>
        <ref name="div.inner"/>
        <ref name="div.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="div.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="div.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="dldiv.elem">
    <element name="div">
      <interleave>
        <ref name="dldiv.inner"/>
        <ref name="div.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="dldiv.inner">
    <oneOrMore>
      <ref name="dt.elem"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="dd.elem"/>  
    </oneOrMore>
  </define>
  <define name="legend.elem">
    <a:documentation>Title or Explanatory Caption: &lt;legend&gt;</a:documentation>
    <element name="legend">
      <interleave>
        <ref name="legend.inner"/>
        <ref name="legend.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="legend.attrs">
    <ref name="common.attrs"/>
  </define>
  <define name="legend.inner">
    <choice>
      <ref name="common.inner.phrasing"/>
      <ref name="h1.elem"/>
      <ref name="h2.elem"/>
      <ref name="h3.elem"/>
      <ref name="h4.elem"/>
      <ref name="h5.elem"/>
      <ref name="h6.elem"/>
      <ref name="hgroup.elem"/>
    </choice>
  </define>
</grammar>
