Vtool-5.93.1-p1/HTML5_Schema/rng/html5/common.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" 
  xmlns="http://relaxng.org/ns/structure/1.0" 
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <!--
      (This only affects mixed-version modules; wholly HTML5
       modules should simply be left out of the inclusion list.)
   -->
  <define name="nonW3C">
    <a:documentation>features that are not part of the W3C HTML spec</a:documentation>
    <empty/>
  </define>
  <define name="common.attr.anything">
    <a:documentation>Wildcards</a:documentation>
    <a:documentation>Any attribute from any namespace</a:documentation>
    <zeroOrMore>
      <attribute>
        <anyName>
          <except>
            <nsName/>
            <nsName ns="http://www.w3.org/2000/svg"/>
            <nsName ns="http://www.w3.org/1998/Math/MathML"/>
          </except>
        </anyName>
      </attribute>
    </zeroOrMore>
  </define>
  <define name="common.elem.anything">
    <a:documentation>Any element from any namespace</a:documentation>
    <element>
      <anyName>
        <except>
          <nsName/>
          <nsName ns="http://www.w3.org/2000/svg"/>
          <nsName ns="http://www.w3.org/1998/Math/MathML"/>
        </except>
      </anyName>
      <interleave>
        <ref name="common.inner.anything"/>
        <ref name="common.attr.anything"/>
      </interleave>
    </element>
  </define>
  <define name="common.inner.anything">
    <a:documentation>Any content from any namespace</a:documentation>
    <interleave>
      <text/>
      <zeroOrMore>
        <ref name="common.elem.anything"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="common.elem.phrasing">
    <a:documentation>Phrase Elements</a:documentation>
    <!-- defined complete content model of common pattern in this common file, 
    instead of relying on pattern combinations by choice -->
    <!-- not allowed element references are commented out -->
    <choice>
      <ref name="a.elem.phrasing"/>
      <ref name="abbr.elem"/>
      <ref name="audio.elem.phrasing"/>
      <ref name="area.elem"/>
      <ref name="b.elem"/>
      <!--<ref name="bdi.elem"/>-->
      <!--<ref name="bdo.elem"/>-->
      <ref name="br.elem"/>
      <ref name="button.elem"/>
      <ref name="code.elem"/>
      <ref name="cite.elem"/>
      <!--<ref name="data.elem"/>-->
      <ref name="datalist.elem"/>
      <ref name="del.elem.phrasing"/>
      <ref name="dfn.elem"/>
      <ref name="em.elem"/>
      <ref name="embed.elem"/>
      <!--<ref name="iframe.elem"/>-->
      <ref name="i.elem"/>
      <ref name="img.elem"/>
      <ref name="input.elem"/>
      <ref name="ins.elem.phrasing"/>
      <!--<ref name="kbd.elem"/>-->
      <ref name="label.elem"/>
      <ref name="link.elem"/>
      <!--<ref name="link.elem.phrasing"/>-->
      <ref name="link.rdfa.elem.phrasing"/>
      <ref name="mark.elem"/>
      <ref name="math"/>
      <ref name="map.elem.phrasing"/>
      <!--<ref name="meta.itemprop.elem"/>-->
      <ref name="meta.property-no-name.elem"/>
      <ref name="meter.elem"/>
      <ref name="object.elem.phrasing"/>
      <ref name="output.elem"/>
      <ref name="picture.elem"/>
      <ref name="q.elem"/>
      <ref name="ruby.elem"/>
      <ref name="s.elem"/>
      <ref name="samp.elem"/>
      <ref name="select.elem"/>
      <ref name="small.elem"/>
      <ref name="span.elem"/>
      <ref name="strong.elem"/>
      <ref name="sub.elem"/>
      <ref name="sup.elem"/>
      <ref name="svg"/>
      <!--<ref name="template.elem"/>-->
      <ref name="textarea.elem"/>
      <!--<ref name="time.elem"/>-->
      <!--<ref name="time.datetime.elem"/>-->
      <!--<ref name="script.elem"/>-->
      <ref name="u.elem"/>
      <ref name="var.elem"/>
      <ref name="video.elem.phrasing"/>
      <ref name="wbr.elem"/>
    </choice>
  </define>
  <define name="common.elem.flow">
    <a:documentation>Prose Elements</a:documentation>
    <choice>
      <ref name="common.elem.phrasing"/>
      <ref name="a.elem.flow"/>
      <ref name="address.elem"/>
      <ref name="article.elem"/>
      <ref name="aside.elem"/>
      <ref name="audio.elem.flow"/>
      <ref name="blockquote.elem"/>
      <ref name="del.elem.flow"/>
      <ref name="details.elem"/>
      <ref name="div.elem"/>
      <ref name="dl.elem"/>
      <ref name="fieldset.elem"/>
      <ref name="figure.elem"/>
      <ref name="footer.elem"/>
      <ref name="form.elem"/>
      <ref name="header.elem"/>
      <ref name="hgroup.elem"/>
      <ref name="hr.elem"/>
      <ref name="h1.elem"/>
      <ref name="h2.elem"/>
      <ref name="h3.elem"/>
      <ref name="h4.elem"/>
      <ref name="h5.elem"/>
      <ref name="h6.elem"/>
      <ref name="ins.elem.flow"/>
      <ref name="link.elem"/>
      <ref name="main.elem"/>
      <ref name="map.elem.flow"/>
      <ref name="math"/>
      <ref name="nav.elem"/>
      <ref name="object.elem.flow"/>
      <ref name="ol.elem"/>
      <ref name="p.elem"/>
      <ref name="pre.elem"/>
      <ref name="section.elem"/>
      <ref name="svg"/>
      <ref name="table.elem"/>
      <ref name="ul.elem"/>
      <ref name="video.elem.flow"/>
    </choice>
  </define>
 <!-- <define name="common.inner.metadata">
    <a:documentation>Common Content Models</a:documentation>
    <a:documentation>Metadata Content</a:documentation>
    <zeroOrMore>
      <ref name="common.elem.metadata"/>
    </zeroOrMore>
  </define>-->
  <define name="common.inner.phrasing">
    <a:documentation>Phrase Content</a:documentation>
    <interleave>
      <text/>
      <zeroOrMore>
        <ref name="common.elem.phrasing"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="common.inner.transparent.flow">
    <a:documentation>Prose Content</a:documentation>
    <interleave>
      <text/>
      <zeroOrMore>
        <ref name="common.elem.flow"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="common.inner.flow">
    <interleave>
      <text/>
      <zeroOrMore>
        <ref name="common.elem.flow"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="common.attrs">
    <a:documentation>Common Attributes</a:documentation>
    <interleave>
      <ref name="common.attrs.basic"/>
      <ref name="common.attrs.i18n"/>
      <ref name="common.attrs.present"/>
      <ref name="common.attrs.other"/>
      <ref name="common.attrs.rdfa"/>
    </interleave>
  </define>
  <define name="common.attrs.basic">
    <interleave>
      <optional><ref name="common.attrs.id"/></optional>
      <optional><ref name="common.attrs.class"/></optional>
      <optional><ref name="common.attrs.title"/></optional>
      <optional><ref name="common.attrs.base"/></optional>
      <optional><ref name="common.attrs.space"/></optional>
    </interleave>
  </define>
  <define name="common.attrs.id">
    <attribute name="id">
      <data type="NCName"/>
      <!-- TODO: ID gives conflict -->
    </attribute>
  </define>
  <define name="common.attrs.class">
    <attribute name="class">
      <ref name="common.data.tokens"/>
    </attribute>
  </define>
  <define name="common.attrs.title">
    <attribute name="title"/>
  </define>
  <define name="common.attrs.base">
    <interleave>
      <ref name="common.attrs.xmlbase"/>
    </interleave>
  </define>
  <define name="common.attrs.xmlbase">
    <interleave>
      <attribute name="xml:base">
        <ref name="common.data.uri"/>
      </attribute>
      <notAllowed/>
    </interleave>
  </define>
  <define name="common.attrs.space">
    <ref name="common.attrs.xmlspace"/>
  </define>
  <define name="common.attrs.xmlspace">
    <interleave>
      <attribute name="xml:space">
        <choice>
          <value type="string" datatypeLibrary="">preserve</value>
          <value type="string" datatypeLibrary="">default</value>
        </choice>
      </attribute>
    </interleave>
  </define>
  <define name="common.attrs.i18n">
    <interleave>
      <optional><ref name="common.attrs.dir"/></optional>
      <optional><ref name="common.attrs.language"/></optional>
      <optional><ref name="common.attrs.translate"/></optional>
    </interleave>
  </define>
  <define name="common.attrs.dir">
    <attribute name="dir">
      <choice>
        <value type="string" datatypeLibrary="">ltr</value>
        <value type="string" datatypeLibrary="">rtl</value>
        <value type="string" datatypeLibrary="">auto</value>
      </choice>
    </attribute>
  </define>
  <!--
    This lang definition is a hack for environments where
    the HTML5 parser maps lang to xml:lang.
    Sameness check left to Schematron
  -->
  <define name="common.attrs.language">
    <interleave>
      <optional><ref name="common.attrs.xmllang"/></optional>
      <optional><ref name="common.attrs.lang"/></optional>
    </interleave>
  </define>
  <define name="common.attrs.lang">
    <attribute name="lang">
      <choice>
        <!-- common.data.langcode -->
        <value type="string" datatypeLibrary=""/>
        <data type="string">
          <param name="pattern">([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*</param>
        </data>
      </choice>
    </attribute>
  </define>
  <!--
    & XMLonly
    commented out because @xml:lang and @lang both have to present. 
    https://www.w3.org/TR/html5/dom.html#the-lang-and-xmllang-attributes 
  -->
  <define name="common.attrs.xmllang">
    <attribute name="xml:lang">
      <choice>
        <!-- common.data.langcode -->
        <value type="string" datatypeLibrary=""/>
        <data type="string">
          <param name="pattern">([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="common.attrs.translate">
    <attribute name="translate">
      <choice>
        <value type="string" datatypeLibrary=""/>
        <value type="string" datatypeLibrary="">yes</value>
        <value type="string" datatypeLibrary="">no</value>
      </choice>
    </attribute>
  </define>
  <define name="common.attrs.present">
    <interleave>
      <optional><ref name="common.attrs.style"/></optional>
      <!--<optional><ref name="common.attrs.tabindex"/></optional>-->
      <!--<optional><ref name="common.attrs.accesskey"/></optional>-->
    </interleave>
  </define>
  <define name="common.attrs.style">
    <attribute name="style">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="common.attrs.tabindex">
    <attribute name="tabindex">
      <data type="string">
        <param name="pattern">-?[0-9]+</param>
      </data>
    </attribute>
  </define>
  <!-- REVISIT move style to a module and bundle tabindex with ARIA -->
  <define name="common.attrs.accesskey">
    <attribute name="accesskey">
      <!-- common.data.keylabellist -->
      <data type="string">
        <param name="pattern">(.){1}</param>
      </data>
    </attribute>
  </define>
  <define name="common.attrs.other">
    <empty/>
  </define>

  <define name="common.data.tokens">
    <a:documentation> Common Datatypes</a:documentation>
    <a:documentation>Names and Tokens</a:documentation>
    <list>
      <zeroOrMore>
        <data type="token" datatypeLibrary=""/>
      </zeroOrMore>
    </list>
  </define>
  <define name="common.data.browsing-context">
    <!-- 		w:browsing-context -->
    <data type="string"/>
  </define>
  <define name="common.data.browsing-context-or-keyword">
    <!-- 		w:browsing-context-or-keyword -->
    <data type="string">
      <param name="pattern">()|([^_].*)|(_[bB][lL][aA][nN][kK])|(_[sS][eE][lL][fF])|(_[pP][aA][rR][eE][nN][tT])|(_[tT][oO][pP])</param>
    </data>
  </define>
  <define name="common.data.id">
    <a:documentation>IDs and IDREFs</a:documentation>
    <data type="ID"/>
  </define>
  <define name="common.data.idref">
    <data type="IDREF"/>
  </define>
  <define name="common.data.idrefs">
    <data type="IDREFS"/>
  </define>
  <define name="common.data.name">
    <data type="ID"/>
  </define>
  <!-- FIXME -->
  <define name="common.data.hash-name">
    <!-- 		w:hash-name	 -->
    <data type="string">
      <param name="pattern">#.+</param>
    </data>
  </define>
  <define name="common.data.integer">
    <a:documentation>Numerical</a:documentation>
    <data type="integer"/>    
  </define>
  <define name="common.data.integer.positive">
    <data type="positiveInteger"/>
  </define>
  <define name="common.data.integer.non-negative">
    <data type="nonNegativeInteger"/>   
  </define>
  <!--
    	common.data.percent =
    		xsd:string {
    			pattern = "(100)|([1-9]?[0-9](\.[0-9]+)?)%"
    		}
  -->
  <define name="common.data.float">
    <data type="float"/>    
  </define>
  <define name="common.data.float.positive">
    <data type="float">
      <param name="pattern">(0*[1-9][0-9]*(\.[0-9]+)?)|([0-9]+(\.0*[1-9][0-9]*)?)([eE]-?[0-9]+)?</param>
    </data>
  </define>
  <define name="common.data.float.non-negative">
    <data type="float">
      <param name="pattern">[0-9]+(\.[0-9]+)?([eE]-?[0-9]+)?</param>
    </data>
  </define>
  <define name="common.data.datetime">
    <a:documentation>Temporal</a:documentation>
    <data type="dateTime">
      <param name="pattern">^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$</param>
    </data>
  </define>
  <define name="common.data.date">
    <data type="date"/>
  </define>
  <define name="common.data.uri">
    <a:documentation>IRIs</a:documentation>
    <!--
      allow either a non-empty IRI ref or zero or more HTML
      space characters (which are: space, tab, LF, FF, CR)
    -->
      <data type="anyURI">
        <param name="pattern">([a-zA-Z0-9\-_\.!~\*#'\(\);/\?:@&amp;=\+$,]|(%[a-fA-F0-9]{2}))+</param>
        <!--or <param name="pattern">[ 
-&#xD;]*</param>-->
      </data>
    <!--
      NOTE The range above incorrectly allows U+000B
      in addition to the HTML space characters; but
      that's not a problem in practice because HTML
      and XML parsers will both catch any U+000B
      and report an error for it before that pattern
      ever gets evaluated.
    -->
  </define>
  <define name="common.data.uri.absolute">
    <data type="anyURI"/>
  </define>
  <define name="common.data.color">
    <a:documentation>color for &lt;link rel="mask-icon"&gt; and &lt;meta name="theme-color"&gt;</a:documentation>
    <data type="token">
      <param name="pattern">^#([A-Fa-f0-9]{6})$</param>
    </data>
  </define>
  <define name="common.data.mimetype">
    <a:documentation>MIME types</a:documentation>
    <data type="token">
      <param name="pattern">[^ ].+/[^ ].+$</param>
    </data>
  </define>
  <define name="common.data.default-style">
    <a:documentation>Default style</a:documentation>
    <data type="string" />
  </define>
  <define name="common.data.langcode">
    <a:documentation>Language Codes</a:documentation>
    <data type="token">
      <param name="pattern">([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*</param>
    </data>
  </define>
  <define name="common.data.keylabellist">
    <a:documentation>List of Key Labels</a:documentation>
    <data type="token">
      <param name="pattern">(.){1}</param>
    </data>
  </define>
  <define name="common.attrs.aria">
    <a:documentation> ARIA Module Hooks #</a:documentation>
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.alert">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.alertdialog">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.application">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.article">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.banner">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.button">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.cell" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.checkbox">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.combobox">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.complementary">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.contentinfo">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.dialog">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.directory">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.document">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.feed" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.figure" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.group">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.heading">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.img">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.link">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.list">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.listitem">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.log">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.listbox">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.main">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.marquee">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.menu">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.menubar">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.menuitem">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.menuitemcheckbox">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.menuitemradio">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.note">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.option">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.presentation">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.progressbar">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.radio">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.radiogroup" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.region">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.rowgroup" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.search">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.searchbox" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.separator">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.slider">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.spinbutton">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.status">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.switch">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.tab">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.table" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.tablist">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.tabpanel">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.textbox">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.toolbar">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.tree">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.treeitem">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.article">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.banner">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.button">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.cell" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.checkbox">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.column-or-row-header">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.combobox">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.complementary">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.contentinfo">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.dialog">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.figure" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.document">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.form">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.group">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.heading">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.img">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.landmark">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.link">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.list">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.listbox">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.listitem">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.main">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.navigation">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.option">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.progressbar">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.radio">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.region">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.row" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.rowgroup" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.searchbox" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.section">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.select">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.slider">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.spinbutton">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.status">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.structure">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.table" combine="choice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.textbox">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.implicit.toolbar">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.prop.readonly">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.landmark.application">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.landmark.banner">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.landmark.complementary">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.landmark.contentinfo">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.landmark.form">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.landmark.main">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.landmark.navigation">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.landmark.search">
    <notAllowed/>
  </define>
  <!-- per ARIA spec: article, document, and note are not actually landmarks -->
  <define name="common.attrs.aria.landmark.article">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.landmark.document">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.landmark.note">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-abstract">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-acknowledgments">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-afterword">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-appendix">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-backlink">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-biblioentry">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-bibliography">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-biblioref">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-chapter">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-colophon">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-conclusion">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-cover">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-credit">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-credits">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-dedication">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-endnote">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-endnotes">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-epigraph">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-epilogue">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-errata">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-example">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-footnote">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-foreword">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-glossary">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-glossref">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-index">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-introduction">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-noteref">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-notice">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-pagebreak">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-pagelist">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-part">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-preface">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-prologue">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-pullquote">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-qna">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-subtitle">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-tip">
    <notAllowed/>
  </define>
  <define name="common.attrs.aria.role.doc-toc">
    <notAllowed/>
  </define>
</grammar>
