Vtool-5.93.1-p1/HTML5_Schema/rng/html5/core-scripting.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- ##################################################################### -->
  <!-- ##################################################################### -->
  <define name="script.elem.embedded">
    <a:documentation> RELAX NG Schema for HTML 5: Core Scripting                        #</a:documentation>
    <!-- ##################################################################### -->
    <!-- ##################################################################### -->
    <a:documentation>Scripting Elements</a:documentation>
    <a:documentation>Inline Scripts: &lt;script&gt;</a:documentation>
    <element name="script">
      <interleave>
        <ref name="script.inner.embedded"/>
        <ref name="script.attrs.embedded"/>
      </interleave>
    </element>
  </define>
  <define name="script.attrs.embedded">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="script.attrs.type"/>
      </optional>
      <optional>
        <ref name="script.attrs.language"/>
      </optional>
      <optional>
        <!-- restricted in Schematron -->
        <ref name="script.attrs.integrity"/>
      </optional>
      <optional>
        <ref name="script.attrs.nonce"/>
      </optional>
      <optional>
        <ref name="embedded.content.attrs.crossorigin"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.menuitem"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="script.elem.imported">
    <element name="script">
      <interleave>
        <ref name="script.inner.imported"/>
        <ref name="script.attrs.imported"/>
      </interleave>
    </element>
  </define>
  <define name="script.attrs.imported">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="script.attrs.src"/>
      </optional>
      <optional>
        <ref name="script.attrs.defer"/>
      </optional>
      <optional>
        <ref name="script.attrs.async"/>
      </optional>
      <optional>
        <ref name="script.attrs.type"/>
      </optional>
      <optional>
        <ref name="script.attrs.charset"/>
      </optional>
      <optional>
        <ref name="script.attrs.language"/>
      </optional>
      <optional>
        <!-- restricted in Schematron -->
        <ref name="script.attrs.integrity"/>
      </optional>
      <optional>
        <ref name="script.attrs.nonce"/>
      </optional>
      <optional>
        <ref name="embedded.content.attrs.crossorigin"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.menuitem"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="script.attrs.src">
    <attribute name="src">
      <!-- common.data.uri.non-empty -->
      <data type="string">
        <param name="pattern">(.+)</param>
      </data>
    </attribute>
  </define>
  <define name="script.attrs.defer">
    <attribute name="defer">
      <choice>
        <value type="string" datatypeLibrary="">defer</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="script.attrs.async">
    <interleave>
      <attribute name="async">
        <choice>
          <value type="string" datatypeLibrary="">async</value>
          <value type="string" datatypeLibrary=""/>
        </choice>
      </attribute>
    </interleave>
  </define>
  <define name="script.attrs.type">
    <attribute name="type">
      <choice>
        <value type="string" datatypeLibrary="">module</value>
        <!-- common.data.mimetype -->
        <data type="string">
          <param name="pattern">.[^ ]+/.[^ ]+</param>
        </data>
      </choice>
      <!-- XXX without charset parameter! -->
    </attribute>
  </define>
  <define name="script.attrs.charset">
    <attribute name="charset">
      <!-- common.data.charset -->
      <data type="string">
        <param name="pattern">([a-zA-Z0-9]+)</param>
      </data>
    </attribute>
  </define>
  <define name="script.attrs.language">
    <attribute name="language">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="script.attrs.integrity">
    <attribute name="integrity">
      <!-- common.data.integrity -->
      <data type="string">
        <param name="pattern">sha256-.+|sha384-.+|sha512-.+</param>
      </data>
    </attribute>
  </define>
  <define name="script.attrs.nonce">
    <attribute name="nonce">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="script.inner.embedded">
    <ref name="common.inner.anything"/>
  </define>
  <define name="script.inner.imported">
    <ref name="common.inner.anything"/>
  </define>
  <define name="script.elem">
    <choice>
      <ref name="script.elem.embedded"/>
      <ref name="script.elem.imported"/>
    </choice>
  </define>
  <define name="common.attrs.scripting" combine="interleave">
    <a:documentation>Event Handler Attribute Definitions</a:documentation>
    <interleave>
      <optional>
        <ref name="scripting.attr.onabort"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onautocomplete"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onautocompleteerror"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onblur"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncancel"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncanplay"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncanplaythrough"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onchange"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onclick"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onclose"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncuechange"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncontextmenu"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondblclick"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondrag"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondragend"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondragenter"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondragexit"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondragleave"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondragover"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondragstart"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondrop"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondurationchange"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onemptied"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onended"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onerror"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onfocus"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oninput"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oninvalid"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onkeydown"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onkeypress"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onkeyup"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onload"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onloadeddata"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onloadedmetadata"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onloadstart"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmousedown"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmouseenter"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmouseleave"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmousemove"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmouseout"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmouseover"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmouseup"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onwheel"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onpause"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onplay"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onplaying"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onprogress"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onratechange"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onreset"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onresize"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onscroll"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onseeked"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onseeking"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onselect"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onsort"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onstalled"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onsubmit"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onsuspend"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ontimeupdate"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ontoggle"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onvolumechange"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onwaiting"/>
      </optional>
    </interleave>
  </define>
  <!--
    not allowed in Core Profile
    <define name="common.attrs.other" combine="interleave">
    <ref name="common.attrs.scripting"/>
  </define>-->
  <define name="scripting.attr.onabort">
    <attribute name="onabort">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onautocomplete">
    <attribute name="onautocomplete">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onautocompleteerror">
    <attribute name="onautocompleteerror">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onblur">
    <attribute name="onblur">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.oncanplay">
    <attribute name="oncanplay">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.oncancel">
    <attribute name="oncancel">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.oncanplaythrough">
    <attribute name="oncanplaythrough">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onchange">
    <attribute name="onchange">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onclick">
    <attribute name="onclick">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onclose">
    <attribute name="onclose">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.oncontextmenu">
    <attribute name="oncontextmenu">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.oncuechange">
    <attribute name="oncuechange">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.ondblclick">
    <attribute name="ondblclick">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.ondrag">
    <attribute name="ondrag">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.ondragend">
    <attribute name="ondragend">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.ondragenter">
    <attribute name="ondragenter">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.ondragexit">
    <attribute name="ondragexit">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.ondragleave">
    <attribute name="ondragleave">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.ondragover">
    <attribute name="ondragover">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.ondragstart">
    <attribute name="ondragstart">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.ondrop">
    <attribute name="ondrop">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.ondurationchange">
    <attribute name="ondurationchange">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onemptied">
    <attribute name="onemptied">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onended">
    <attribute name="onended">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onerror">
    <attribute name="onerror">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onfocus">
    <attribute name="onfocus">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onformchange">
    <attribute name="onformchange">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onforminput">
    <attribute name="onforminput">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.oninput">
    <attribute name="oninput">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.oninvalid">
    <attribute name="oninvalid">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onkeydown">
    <attribute name="onkeydown">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onkeypress">
    <attribute name="onkeypress">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onkeyup">
    <attribute name="onkeyup">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onload">
    <attribute name="onload">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onloadeddata">
    <attribute name="onloadeddata">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onloadedmetadata">
    <attribute name="onloadedmetadata">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onloadstart">
    <attribute name="onloadstart">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onmousedown">
    <attribute name="onmousedown">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onmouseenter">
    <attribute name="onmouseenter">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onmouseleave">
    <attribute name="onmouseleave">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onmousemove">
    <attribute name="onmousemove">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onmouseout">
    <attribute name="onmouseout">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onmouseover">
    <attribute name="onmouseover">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onmouseup">
    <attribute name="onmouseup">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onwheel">
    <attribute name="onwheel">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onpause">
    <attribute name="onpause">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onplay">
    <attribute name="onplay">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onplaying">
    <attribute name="onplaying">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onprogress">
    <attribute name="onprogress">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onratechange">
    <attribute name="onratechange">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onreset">
    <attribute name="onreset">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onresize">
    <attribute name="onresize">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onscroll">
    <attribute name="onscroll">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onseeked">
    <attribute name="onseeked">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onseeking">
    <attribute name="onseeking">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onselect">
    <attribute name="onselect">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onsort">
    <attribute name="onsort">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onstalled">
    <attribute name="onstalled">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onsubmit">
    <attribute name="onsubmit">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onsuspend">
    <attribute name="onsuspend">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.ontimeupdate">
    <attribute name="ontimeupdate">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.ontoggle">
    <attribute name="ontoggle">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onvolumechange">
    <attribute name="onvolumechange">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="scripting.attr.onwaiting">
    <attribute name="onwaiting">
      <choice>
        <value type="string"/>
        <data type="string">
          <param name="pattern">.[^ ]+\s?</param>
        </data>
        <data type="string">
          <param name="pattern">\w+\s?\(\\'.*\\'\)\s?</param>
        </data>
      </choice>
    </attribute>
  </define>
</grammar>
<!--
  	scripting.attr.common =
  		(	scripting.attr.mouse
  		&	scripting.attr.keyboard
  		&	scripting.attr.focus
  		)
  	
  	scripting.attr.mouse =
  		(	scripting.attr.mouse.click?
  		&	scripting.attr.mouse.dblclick?
  		&	scripting.attr.mouse.down?
  		&	scripting.attr.mouse.up?
  		&	scripting.attr.mouse.over?
  		&	scripting.attr.mouse.move?
  		&	scripting.attr.mouse.out?
  		)
  		scripting.attr.mouse.click =
  			attribute onclick { string }
  		scripting.attr.mouse.dblclick =
  			attribute ondblclick { string }
  		scripting.attr.mouse.down =
  			attribute onmousedown { string }
  		scripting.attr.mouse.up =
  			attribute onmouseup { string }
  		scripting.attr.mouse.over =
  			attribute onmouseover { string }
  		scripting.attr.mouse.move =
  			attribute onmousemove { string }
  		scripting.attr.mouse.out =
  			attribute onmouseout { string }
  	
  	scripting.attr.keyboard =
  		(	scripting.attr.keyboard.press?
  		&	scripting.attr.keyboard.down?
  		&	scripting.attr.keyboard.up?
  		)
  		scripting.attr.keyboard.press =
  			attribute onkeypress { string }
  		scripting.attr.keyboard.down =
  			attribute onkeydown { string }
  		scripting.attr.keyboard.up =
  			attribute onkeyup { string }
  	
  	
  	scripting.attr.focus =
  		(	scripting.attr.focus.gain?
  		&	scripting.attr.focus.lose?
  		)
  		scripting.attr.focus.gain =
  			attribute onfocus { string }
  		scripting.attr.focus.lose =
  			attribute onblur { string }
  	
  	scripting.attr.loading =
  		(	scripting.attr.loading.load?
  		&	scripting.attr.loading.unload?
  		)
  		scripting.attr.loading.load =
  			attribute onload { string }
  		scripting.attr.loading.unload =
  			attribute onunload { string }
-->
<!--
  #####################################################################
  Event Handler Attribute Assignments
-->
<!-- 	body.attrs   &= scripting.attr.loading -->
