Vtool-5.93.1-p1/HTML5_Schema/rng/html5/media.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- ##################################################################### -->
  <!-- src not included -->
  <define name="media.attrs">
    <a:documentation> RELAX NG Schema for HTML 5: Advanced Embedded Content             #</a:documentation>
    <!-- ##################################################################### -->
    <a:documentation>Attributes Common to Media Elements</a:documentation>
    <interleave>
      <optional>
        <ref name="media.attrs.autoplay"/>
      </optional>
      <optional>
        <ref name="media.attrs.preload"/>
      </optional>
      <optional>
        <ref name="media.attrs.controls"/>
      </optional>
      <optional>
        <ref name="media.attrs.loop"/>
      </optional>
      <optional>
        <ref name="media.attrs.muted"/>
      </optional>
      <optional>
        <ref name="embedded.content.attrs.crossorigin"/>
      </optional>
    </interleave>
  </define>
  <define name="media.attrs.autoplay">
    <attribute name="autoplay">
      <choice>
        <value type="string" datatypeLibrary="">autoplay</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="media.attrs.preload">
    <attribute name="preload">
      <choice>
        <value type="string" datatypeLibrary="">none</value>
        <value type="string" datatypeLibrary="">metadata</value>
        <value type="string" datatypeLibrary="">auto</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="media.attrs.controls">
    <attribute name="controls">
      <choice>
        <value type="string" datatypeLibrary="">controls</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="media.attrs.loop">
    <attribute name="loop">
      <choice>
        <value type="string" datatypeLibrary="">loop</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="media.attrs.muted">
    <attribute name="muted">
      <choice>
        <value type="string" datatypeLibrary="">muted</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="source.elem">
    <a:documentation>Source: &lt;source&gt;</a:documentation>
    <element name="source">
      <interleave>
        <ref name="source.inner"/>
        <ref name="source.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="source.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="source.attrs.src"/>
      <optional>
        <ref name="source.attrs.type"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.menuitem"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="source.attrs.src">
    <attribute name="src">
      <!-- common.data.uri.non-empty -->
      <data type="anyURI"/>
    </attribute>
  </define>
  <define name="source.attrs.type">
    <attribute name="type">
      <!-- common.data.mimetype -->
      <data type="string">
        <param name="pattern">.[^ ]+/.[^ ]+</param>
      </data>
    </attribute>
  </define>
  <define name="source.inner">
    <empty/>
  </define>
  <define name="media.source">
    <a:documentation>Media Source</a:documentation>
    <choice>
      <ref name="media.attrs.src"/>
      <zeroOrMore>
        <ref name="source.elem"/>
      </zeroOrMore>
    </choice>
  </define>
  <define name="media.attrs.src">
    <attribute name="src">
      <!-- common.data.uri.non-empty -->
      <data type="anyURI"/>
    </attribute>
  </define>
  <define name="video.elem.flow">
    <a:documentation>Video: &lt;video&gt;</a:documentation>
    <element name="video">
      <interleave>
        <ref name="video.inner.flow"/>
        <ref name="video.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="video.elem.phrasing">
    <element name="video">
      <interleave>
        <ref name="video.inner.phrasing"/>
        <ref name="video.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="video.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="media.attrs"/>
      <optional>
        <ref name="video.attrs.poster"/>
      </optional>
      <optional>
        <ref name="video.attrs.height"/>
      </optional>
      <optional>
        <ref name="video.attrs.width"/>
      </optional>
      <optional>
        <ref name="video.attrs.playsinline"/>
      </optional>
      <optional>
        <ref name="common.attrs.aria.landmark.application"/>
      </optional>
    </interleave>
  </define>
  <define name="video.attrs.poster">
    <attribute name="poster">
      <!-- common.data.uri.non-empty -->
      <data type="anyURI"/>
    </attribute>
  </define>
  <define name="video.attrs.height">
    <attribute name="height">
      <!-- common.data.integer.non-negative -->
      <data type="string">
        <param name="pattern">[0-9]+</param>
      </data>
    </attribute>
  </define>
  <define name="video.attrs.width">
    <attribute name="width">
      <!-- common.data.integer.non-negative -->
      <data type="string">
        <param name="pattern">[0-9]+</param>
      </data>
    </attribute>
  </define>
  <define name="video.attrs.playsinline">
    <attribute name="playsinline">
      <choice>
        <value type="string" datatypeLibrary="">playsinline</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="video.inner.flow">
    <ref name="media.source"/>
    <zeroOrMore>
      <ref name="track.elem"/>
    </zeroOrMore>
    <ref name="common.inner.transparent.flow"/>
  </define>
  <define name="video.inner.phrasing">
    <ref name="media.source"/>
    <zeroOrMore>
      <ref name="track.elem"/>
    </zeroOrMore>
    <ref name="common.inner.phrasing"/>
  </define>
  <define name="audio.elem.flow">
    <a:documentation>Audio: &lt;audio&gt;</a:documentation>
    <element name="audio">
      <interleave>
        <ref name="audio.inner.flow"/>
        <ref name="audio.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="audio.elem.phrasing">
    <element name="audio">
      <interleave>
        <ref name="audio.inner.phrasing"/>
        <ref name="audio.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="audio.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="media.attrs"/>
      <optional>
        <ref name="common.attrs.aria.landmark.application"/>
      </optional>
    </interleave>
  </define>
  <define name="audio.inner.flow">
    <ref name="media.source"/>
    <zeroOrMore>
      <ref name="track.elem"/>
    </zeroOrMore>
    <ref name="common.inner.transparent.flow"/>
  </define>
  <define name="audio.inner.phrasing">
    <ref name="media.source"/>
    <zeroOrMore>
      <ref name="track.elem"/>
    </zeroOrMore>
    <ref name="common.inner.phrasing"/>
  </define>
  <!---->
  <define name="track.elem">
    <a:documentation>supplementary media track: &lt;track&gt;</a:documentation>
    <element name="track">
      <interleave>
        <ref name="track.inner"/>
        <ref name="track.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="track.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional><ref name="track.attrs.kind"/></optional>
      <ref name="track.attrs.src"/>
      <optional><ref name="track.attrs.srclang"/></optional>
      <optional><ref name="track.attrs.label"/></optional>
      <optional><ref name="track.attrs.default"/></optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.menuitem"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="track.attrs.kind">
    <attribute name="kind">
      <choice>
        <value type="string" datatypeLibrary="">subtitles</value>
        <value type="string" datatypeLibrary="">captions</value>
        <value type="string" datatypeLibrary="">descriptions</value>
        <value type="string" datatypeLibrary="">chapters</value>
        <value type="string" datatypeLibrary="">metadata</value>
      </choice>
    </attribute>
  </define>
  <define name="track.attrs.src">
    <attribute name="src">
      <!-- common.data.uri.non-empty -->
      <data type="anyURI"/>
    </attribute>
  </define>
  <define name="track.attrs.srclang">
    <attribute name="srclang">
      <choice>
        <!-- common.data.langcode -->
        <value type="string" datatypeLibrary=""/>
        <data type="string">
          <param name="pattern">([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="track.attrs.label">
    <attribute name="label">
      <data type="string" datatypeLibrary=""/>
      <!-- must be non-empty value; check is in assertions code -->
    </attribute>
  </define>
  <define name="track.attrs.default">
    <attribute name="default">
      <choice>
        <value type="string" datatypeLibrary="">default</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="track.inner">
    <empty/>
  </define>
  <define name="figure.elem">
    <a:documentation>Captioned Content: &lt;figure&gt;</a:documentation>
    <element name="figure">
      <interleave>
        <ref name="figure.inner"/>
        <ref name="figure.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="figure.attrs">
    <ref name="common.attrs"/>
    <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.figure"/>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.group"/>
        </choice>
      </optional>
  </define>
  <define name="figure.inner">
    <interleave>
        <optional><ref name="figcaption.elem"/></optional>
        <ref name="common.inner.flow"/>
    </interleave>
  </define>
  <define name="figcaption.elem">
    <a:documentation>Figure caption: &lt;figcaption&gt;</a:documentation>
    <element name="figcaption">
      <interleave>
        <ref name="figcaption.inner"/>
        <ref name="figcaption.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="figcaption.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.menuitem"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="figcaption.inner">
    <ref name="common.inner.flow"/>
  </define>
</grammar>
