Vtool-5.93.1-p1/HTML5_Schema/rng/html5/web-forms2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="common-form.attrs" combine="interleave">
    <a:documentation> RELAX NG Schema for HTML 5: Web Forms 2.0 markup</a:documentation>
    <a:documentation>Shared attributes for form controls</a:documentation>
    <optional>
      <ref name="common-form.attrs.form"/>
    </optional>
  </define>
  <define name="common-form.attrs.form" combine="choice">
    <attribute name="form">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="shared-form.attrs.formaction">
    <attribute name="formaction">
  <ref name="common.data.uri"/>
    </attribute>
  </define>
  <define name="shared-form.attrs.formenctype">
    <attribute name="formenctype">
      <ref name="shared-form.attrs.formenctype.data"/>
    </attribute>
  </define>
  <define name="shared-form.attrs.formenctype.data">
    <choice>
      <value type="string">application/x-www-form-urlencoded</value>
      <value type="string">multipart/form-data</value>
      <value type="string">text/plain</value>
    </choice>
  </define>
  <define name="shared-form.attrs.formmethod">
    <attribute name="formmethod">
      <ref name="shared-form.attrs.formmethod.data"/>
    </attribute>
  </define>
  <define name="shared-form.attrs.formmethod.data">
    <choice>
      <value type="string">get</value>
      <value type="string">post</value>
    </choice>
  </define>
  <define name="shared-form.attrs.formtarget">
    <attribute name="formtarget">
      <data type="string">
        <param name="pattern">()|([^_].*)|(_[bB][lL][aA][nN][kK])|(_[sS][eE][lL][fF])|(_[pP][aA][rR][eE][nN][tT])|(_[tT][oO][pP])</param>
      </data>
    </attribute>
  </define>
  <define name="shared-form.attrs.formnovalidate">
    <attribute name="formnovalidate">
      <choice>
        <value type="string" datatypeLibrary="">formnovalidate</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="shared-form.attrs.autofocus">
    <attribute name="autofocus">
      <choice>
        <value type="string" datatypeLibrary="">autofocus</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="shared-form.attrs.pattern">
    <attribute name="pattern">
      <ref name="form.data.pattern"/>
    </attribute>
  </define>
  <define name="shared-form.attrs.template">
    <attribute name="template">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="shared-form.attrs.required">
    <attribute name="required">
      <choice>
        <value type="string" datatypeLibrary="">required</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="shared-form.attrs.placeholder">
    <attribute name="placeholder">
      <ref name="form.data.stringwithoutlinebreaks"/>
    </attribute>
  </define>
  <define name="shared-form.attrs.dirname">
    <attribute name="dirname">
      <ref name="form.data.nonemptystring"/>
    </attribute>
  </define>
  <define name="shared-form.attrs.inputmode">
    <attribute name="inputmode">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="shared-form.attrs.minlength">
    <attribute name="minlength">
      <!-- common.data.integer.non-negative -->
      <data type="string">
        <param name="pattern">[0-9]+</param>
      </data>
    </attribute>
  </define>
  <define name="shared-input.attrs">
    <a:documentation>Shared attributes for &lt;input&gt;</a:documentation>
    <interleave>
      <optional>
        <ref name="input.attrs.autocomplete"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.autofocus"/>
      </optional>
      <optional>
        <ref name="input.attrs.list"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.maxlength"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.minlength"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.pattern"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.placeholder"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.readonly"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.required"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.size"/>
      </optional>
    </interleave>
  </define>
  <define name="input.attrs.list">
    <attribute name="list">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="input.attrs.step.float">
    <attribute name="step">
      <choice>
        <value type="string" datatypeLibrary="">any</value>
        <!-- common.data.float.positive -->
        <data type="string">
          <param name="pattern">(0*[1-9][0-9]*(\.[0-9]+)?)|([0-9]+(\.0*[1-9][0-9]*)?)([eE]-?[0-9]+)?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="input.attrs.step.integer">
    <attribute name="step">
      <choice>
        <!-- common.data.integer.positive -->
        <value type="string" datatypeLibrary="">any</value>
        <data type="string">
          <param name="pattern">0*[1-9][0-9]*</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="input.attrs.multiple">
    <attribute name="multiple">
      <choice>
        <value type="string" datatypeLibrary="">multiple</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="input.attrs.autocomplete.any">
    <a:documentation>autocomplete</a:documentation>
    <attribute name="autocomplete">
      <choice>
        <value type="string" datatypeLibrary="">on</value>
        <value type="string" datatypeLibrary="">off</value>
      </choice>
    </attribute>
  </define>
  <define name="input.attrs.autocomplete">
    <attribute name="autocomplete">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="input.hidden.attrs" combine="interleave">
    <a:documentation>Hidden String: &lt;input type='hidden'&gt;, Extensions</a:documentation>
    <optional>
      <ref name="input.attrs.autocomplete"/>
    </optional>
  </define>
  <define name="input.text.attrs" combine="interleave">
    <a:documentation>Text Field: &lt;input type='text'&gt;, Extensions</a:documentation>
    <interleave>
      <optional>
        <ref name="input.attrs.autocomplete"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.autofocus"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.dirname"/>
      </optional>
      <optional>
        <ref name="input.attrs.list"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.pattern"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.required"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.placeholder"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.inputmode"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.minlength"/>
      </optional>
    </interleave>
  </define>
  <define name="input.password.attrs" combine="interleave">
    <a:documentation>Password Field: &lt;input type='password'&gt;, Extensions</a:documentation>
    <interleave>
      <optional>
        <ref name="input.attrs.autocomplete"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.autofocus"/>
      </optional>
      <optional>
        <ref name="input.attrs.list"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.pattern"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.placeholder"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.required"/>
      </optional>
      <optional>
        <ref name="aria.prop.required"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.minlength"/>
      </optional>
    </interleave>
  </define>
  <define name="input.checkbox.attrs" combine="interleave">
    <a:documentation>Checkbox &lt;input type='checkbox'&gt;, Extensions</a:documentation>
    <interleave>
      <ref name="shared-input.attrs"/>
      <optional>
        <ref name="aria.prop.required"/>
      </optional>
    </interleave>
  </define>
  <define name="input.radio.attrs" combine="interleave">
    <a:documentation>Radiobutton: &lt;input type='radio'&gt;, Extensions</a:documentation>
    <interleave>
      <ref name="shared-input.attrs"/>
      <optional>
        <ref name="aria.prop.required"/>
      </optional>
    </interleave>
  </define>
  <define name="input.button.attrs" combine="interleave">
    <a:documentation>Scripting Hook Button: &lt;input type='button'&gt;, Extensions</a:documentation>
    <ref name="shared-input.attrs"/>
  </define>
  <define name="input.submit.attrs" combine="interleave">
    <a:documentation>Submit Button: &lt;input type='submit'&gt;, Extensions</a:documentation>
    <interleave>
      <ref name="shared-input.attrs"/>
      <optional>
        <ref name="shared-form.attrs.formaction"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.formenctype"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.formmethod"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.formtarget"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.formnovalidate"/>
      </optional>
    </interleave>
  </define>
  <define name="input.reset.attrs" combine="interleave">
    <a:documentation>Reset Button: &lt;input type='reset'&gt;, Extensions</a:documentation>
    <ref name="shared-input.attrs"/>
  </define>
  <define name="input.file.attrs" combine="interleave">
    <a:documentation>File Upload: &lt;input type='file'&gt;, Extensions</a:documentation>
    <interleave>
      <ref name="shared-input.attrs"/>
      <optional>
        <ref name="input.attrs.multiple"/>
      </optional>
    </interleave>
  </define>
  <define name="input.image.attrs" combine="interleave">
    <a:documentation>Image Submit Button: &lt;input type='image'&gt;, Extensions</a:documentation>
    <interleave>
      <ref name="shared-input.attrs"/>
      <optional>
        <ref name="shared-form.attrs.formaction"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.formenctype"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.formmethod"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.formtarget"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.formnovalidate"/>
      </optional>
      <optional>
        <ref name="input.image.attrs.height"/>
      </optional>
      <optional>
        <ref name="input.image.attrs.width"/>
      </optional>
    </interleave>
  </define>
  <define name="input.image.attrs.height">
    <attribute name="height">
      <!-- common.data.integer.non-negative -->
      <data type="string">
        <param name="pattern">[0-9]+</param>
      </data>
    </attribute>
  </define>
  <define name="input.image.attrs.width">
    <attribute name="width">
      <!-- common.data.integer.non-negative -->
      <data type="string">
        <param name="pattern">[0-9]+</param>
      </data>
    </attribute>
  </define>
  <define name="input.datetime-local.elem">
    <a:documentation>Date and Time with No Time Zone Information: &lt;input type='datetime-local'&gt;</a:documentation>
    <element name="input">
      <ref name="input.datetime-local.attrs"/>
    </element>
  </define>
  <define name="input.datetime-local.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="common-form.attrs"/>
      <ref name="shared-input.attrs"/>
      <ref name="input.datetime-local.attrs.type"/>
      <optional>
        <ref name="input.datetime-local.attrs.min"/>
      </optional>
      <optional>
        <ref name="input.datetime-local.attrs.max"/>
      </optional>
      <optional>
        <ref name="input.attrs.step.float"/>
      </optional>
      <optional>
        <ref name="input.datetime-local.attrs.value"/>
      </optional>
      <choice>
        <optional>
          <ref name="common.attrs.aria"/>
        </optional>
        <optional>
          <ref name="aria.prop.required"/>
        </optional>
      </choice>
    </interleave>
  </define>
  <define name="input.datetime-local.attrs.type">
    <attribute name="type">
      <value type="string" datatypeLibrary="">datetime-local</value>
    </attribute>
  </define>
  <define name="input.datetime-local.attrs.min">
    <attribute name="min">
      <ref name="form.data.datetime-local"/>
    </attribute>
  </define>
  <define name="input.datetime-local.attrs.max">
    <attribute name="max">
      <ref name="form.data.datetime-local"/>
    </attribute>
  </define>
  <define name="input.datetime-local.attrs.value">
    <attribute name="value">
      <choice>
        <value type="string" datatypeLibrary=""/>
        <ref name="form.data.datetime-local"/>
      </choice>
    </attribute>
  </define>
  <define name="input.elem" combine="choice">
    <ref name="input.datetime-local.elem"/>
  </define>
  <define name="input.date.elem">
    <a:documentation>Date: &lt;input type='date'&gt;</a:documentation>
    <element name="input">
      <ref name="input.date.attrs"/>
    </element>
  </define>
  <define name="input.date.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="common-form.attrs"/>
      <ref name="shared-input.attrs"/>
      <ref name="input.date.attrs.type"/>
      <optional>
        <ref name="input.date.attrs.min"/>
      </optional>
      <optional>
        <ref name="input.date.attrs.max"/>
      </optional>
      <optional>
        <ref name="input.attrs.step.integer"/>
      </optional>
      <optional>
        <ref name="input.date.attrs.value"/>
      </optional>
      <choice>
        <optional>
          <ref name="common.attrs.aria"/>
        </optional>
        <optional>
          <ref name="aria.prop.required"/>
        </optional>
      </choice>
    </interleave>
  </define>
  <define name="input.date.attrs.type">
    <attribute name="type">
      <value type="string" datatypeLibrary="">date</value>
    </attribute>
  </define>
  <define name="input.date.attrs.min">
    <attribute name="min">
      <ref name="form.data.date"/>
    </attribute>
  </define>
  <define name="input.date.attrs.max">
    <attribute name="max">
      <ref name="form.data.date"/>
    </attribute>
  </define>
  <define name="input.date.attrs.value">
    <attribute name="value">
      <choice>
        <value type="string" datatypeLibrary=""/>
        <ref name="form.data.date"/>
      </choice>
    </attribute>
  </define>
  <define name="input.elem" combine="choice">
    <ref name="input.date.elem"/>
  </define>
  <define name="input.month.elem">
    <a:documentation>Year and Month: &lt;input type='month'&gt;</a:documentation>
    <element name="input">
      <ref name="input.month.attrs"/>
    </element>
  </define>
  <define name="input.month.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="common-form.attrs"/>
      <ref name="shared-input.attrs"/>
      <ref name="input.month.attrs.type"/>
      <optional>
        <ref name="input.month.attrs.min"/>
      </optional>
      <optional>
        <ref name="input.month.attrs.max"/>
      </optional>
      <optional>
        <ref name="input.attrs.step.integer"/>
      </optional>
      <optional>
        <ref name="input.month.attrs.value"/>
      </optional>
      <choice>
        <optional>
          <ref name="common.attrs.aria"/>
        </optional>
        <optional>
          <ref name="aria.prop.required"/>
        </optional>
      </choice>
    </interleave>
  </define>
  <define name="input.month.attrs.type">
    <attribute name="type">
      <value type="string" datatypeLibrary="">month</value>
    </attribute>
  </define>
  <define name="input.month.attrs.min">
    <attribute name="min">
      <ref name="form.data.month"/>
    </attribute>
  </define>
  <define name="input.month.attrs.max">
    <attribute name="max">
      <ref name="form.data.month"/>
    </attribute>
  </define>
  <define name="input.month.attrs.value">
    <attribute name="value">
      <choice>
        <value type="string" datatypeLibrary=""/>
        <ref name="form.data.month"/>
      </choice>
    </attribute>
  </define>
  <define name="input.elem" combine="choice">
    <ref name="input.month.elem"/>
  </define>
  <define name="input.time.elem">
    <a:documentation>Time without Time Zone Information: &lt;input type='time'&gt;</a:documentation>
    <element name="input">
      <ref name="input.time.attrs"/>
    </element>
  </define>
  <define name="input.time.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="common-form.attrs"/>
      <ref name="shared-input.attrs"/>
      <ref name="input.time.attrs.type"/>
      <optional>
        <ref name="input.time.attrs.min"/>
      </optional>
      <optional>
        <ref name="input.time.attrs.max"/>
      </optional>
      <optional>
        <ref name="input.attrs.step.float"/>
      </optional>
      <optional>
        <ref name="input.time.attrs.value"/>
      </optional>
      <choice>
        <optional>
          <ref name="common.attrs.aria"/>
        </optional>
        <optional>
          <ref name="aria.prop.required"/>
        </optional>
      </choice>
    </interleave>
  </define>
  <define name="input.time.attrs.type">
    <attribute name="type">
      <value type="string" datatypeLibrary="">time</value>
    </attribute>
  </define>
  <define name="input.time.attrs.min">
    <attribute name="min">
      <ref name="form.data.time"/>
    </attribute>
  </define>
  <define name="input.time.attrs.max">
    <attribute name="max">
      <ref name="form.data.time"/>
    </attribute>
  </define>
  <define name="input.time.attrs.value">
    <attribute name="value">
      <choice>
        <value type="string" datatypeLibrary=""/>
        <ref name="form.data.time"/>
      </choice>
    </attribute>
  </define>
  <define name="input.elem" combine="choice">
    <ref name="input.time.elem"/>
  </define>
  <define name="input.week.elem">
    <a:documentation>Year and Week: &lt;input type='week'&gt;</a:documentation>
    <element name="input">
      <ref name="input.week.attrs"/>
    </element>
  </define>
  <define name="input.week.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="common-form.attrs"/>
      <ref name="shared-input.attrs"/>
      <ref name="input.week.attrs.type"/>
      <optional>
        <ref name="input.week.attrs.min"/>
      </optional>
      <optional>
        <ref name="input.week.attrs.max"/>
      </optional>
      <optional>
        <ref name="input.attrs.step.integer"/>
      </optional>
      <optional>
        <ref name="input.week.attrs.value"/>
      </optional>
      <choice>
        <optional>
          <ref name="common.attrs.aria"/>
        </optional>
        <optional>
          <ref name="aria.prop.required"/>
        </optional>
      </choice>
    </interleave>
  </define>
  <define name="input.week.attrs.type">
    <attribute name="type">
      <value type="string" datatypeLibrary="">week</value>
    </attribute>
  </define>
  <define name="input.week.attrs.min">
    <attribute name="min">
      <ref name="form.data.week"/>
    </attribute>
  </define>
  <define name="input.week.attrs.max">
    <attribute name="max">
      <ref name="form.data.week"/>
    </attribute>
  </define>
  <define name="input.week.attrs.value">
    <attribute name="value">
      <choice>
        <value type="string" datatypeLibrary=""/>
        <ref name="form.data.week"/>
      </choice>
    </attribute>
  </define>
  <define name="input.elem" combine="choice">
    <ref name="input.week.elem"/>
  </define>
  <define name="input.number.elem">
    <a:documentation>Number: &lt;input type='number'&gt;</a:documentation>
    <element name="input">
      <ref name="input.number.attrs"/>
    </element>
  </define>
  <define name="input.number.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="common-form.attrs"/>
      <ref name="shared-input.attrs"/>
      <ref name="input.number.attrs.type"/>
      <optional>
        <ref name="input.number.attrs.min"/>
      </optional>
      <optional>
        <ref name="input.number.attrs.max"/>
      </optional>
      <optional>
        <ref name="input.attrs.step.float"/>
      </optional>
      <optional>
        <ref name="input.number.attrs.value"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.spinbutton"/>
          <ref name="common.attrs.aria.role.spinbutton"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="input.number.attrs.type">
    <attribute name="type">
      <value type="string" datatypeLibrary="">number</value>
    </attribute>
  </define>
  <define name="input.number.attrs.min">
    <attribute name="min">
      <!-- common.data.float -->
      <data type="string">
        <param name="pattern">-?[0-9]+(\.[0-9]+)?([eE]-?[0-9]+)?</param>
      </data>
    </attribute>
  </define>
  <define name="input.number.attrs.max">
    <attribute name="max">
      <!-- common.data.float -->
      <data type="string">
        <param name="pattern">-?[0-9]+(\.[0-9]+)?([eE]-?[0-9]+)?</param>
      </data>
    </attribute>
  </define>
  <define name="input.number.attrs.value">
    <attribute name="value">
      <choice>
        <!-- common.data.float -->
        <value type="string" datatypeLibrary=""/>
        <data type="string">
          <param name="pattern">-?[0-9]+(\.[0-9]+)?([eE]-?[0-9]+)?</param>
        </data>
      </choice>
    </attribute>
  </define>
  <define name="input.elem" combine="choice">
    <ref name="input.number.elem"/>
  </define>
  <define name="input.range.elem">
    <a:documentation>Imprecise Number: &lt;input type='range'&gt;</a:documentation>
    <element name="input">
      <ref name="input.range.attrs"/>
    </element>
  </define>
  <define name="input.range.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="common-form.attrs"/>
      <ref name="shared-input.attrs"/>
      <ref name="input.range.attrs.type"/>
      <optional>
        <ref name="input.range.attrs.min"/>
      </optional>
      <optional>
        <ref name="input.range.attrs.max"/>
      </optional>
      <optional>
        <ref name="input.attrs.step.float"/>
      </optional>
      <optional>
        <ref name="input.range.attrs.value"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.slider"/>
          <ref name="common.attrs.aria.role.slider"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="input.range.attrs.type">
    <attribute name="type">
      <value type="string" datatypeLibrary="">range</value>
    </attribute>
  </define>
  <define name="input.range.attrs.min">
    <attribute name="min">
      <!-- common.data.float -->
      <data type="string">
        <param name="pattern">-?[0-9]+(\.[0-9]+)?([eE]-?[0-9]+)?</param>
      </data>
    </attribute>
  </define>
  <define name="input.range.attrs.max">
    <attribute name="max">
      <!-- common.data.float -->
      <data type="string">
        <param name="pattern">-?[0-9]+(\.[0-9]+)?([eE]-?[0-9]+)?</param>
      </data>
    </attribute>
  </define>
  <define name="input.range.attrs.value">
    <attribute name="value">
      <!-- common.data.float -->
      <data type="string">
        <param name="pattern">-?[0-9]+(\.[0-9]+)?([eE]-?[0-9]+)?</param>
      </data>
    </attribute>
  </define>
  <define name="input.elem" combine="choice">
    <ref name="input.range.elem"/>
  </define>
  <define name="input.email.elem">
    <a:documentation>Email Address: &lt;input type='email'&gt;</a:documentation>
    <element name="input">
      <ref name="input.email.attrs"/>
    </element>
  </define>
  <define name="input.email.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="common-form.attrs"/>
      <ref name="shared-input.attrs"/>
      <ref name="input.email.attrs.type"/>
      <optional>
        <choice>
          <interleave>
            <ref name="input.attrs.multiple"/>
            <optional>
              <ref name="input.email.attrs.value.multiple"/>
            </optional>
          </interleave>
          <optional>
            <ref name="input.email.attrs.value.single"/>
          </optional>
        </choice>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.textbox"/>
          <ref name="common.attrs.aria.implicit.combobox"/>
          <ref name="common.attrs.aria.role.textbox"/>
          <ref name="common.attrs.aria.role.combobox"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="input.email.attrs.type">
    <attribute name="type">
      <value type="string" datatypeLibrary="">email</value>
    </attribute>
  </define>
  <define name="input.email.attrs.value.single">
    <attribute name="value">
      <ref name="form.data.emailaddress"/>
    </attribute>
  </define>
  <define name="input.email.attrs.value.multiple">
    <attribute name="value">
      <ref name="form.data.emailaddresslist"/>
    </attribute>
  </define>
  <define name="input.elem" combine="choice">
    <ref name="input.email.elem"/>
  </define>
  <define name="input.url.elem">
    <a:documentation>IRI: &lt;input type='url'&gt;</a:documentation>
    <element name="input">
      <ref name="input.url.attrs"/>
    </element>
  </define>
  <define name="input.url.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="common-form.attrs"/>
      <ref name="shared-input.attrs"/>
      <ref name="input.url.attrs.type"/>
      <optional>
        <ref name="input.url.attrs.value"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.textbox"/>
          <ref name="common.attrs.aria.implicit.combobox"/>
          <ref name="common.attrs.aria.role.textbox"/>
          <ref name="common.attrs.aria.role.combobox"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="input.url.attrs.type">
    <attribute name="type">
      <value type="string" datatypeLibrary="">url</value>
    </attribute>
  </define>
  <define name="input.url.attrs.value">
    <attribute name="value">
      <choice>
        <value type="string" datatypeLibrary=""/>
        <!-- common.data.uri.absolute -->
         <ref name="common.data.uri"/>
      </choice>
    </attribute>
  </define>
  <define name="input.elem" combine="choice">
    <ref name="input.url.elem"/>
  </define>
  <define name="input.search.elem">
    <a:documentation>Search: &lt;input type='search'&gt;</a:documentation>
    <element name="input">
      <ref name="input.search.attrs"/>
    </element>
  </define>
  <define name="input.search.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="common-form.attrs"/>
      <ref name="shared-input.attrs"/>
      <ref name="input.search.attrs.type"/>
      <optional>
        <ref name="input.search.attrs.value"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.dirname"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.searchbox"/>
          <ref name="common.attrs.aria.role.searchbox"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="input.search.attrs.type">
    <attribute name="type">
      <value type="string" datatypeLibrary="">search</value>
    </attribute>
  </define>
  <define name="input.search.attrs.value">
    <attribute name="value">
      <ref name="form.data.stringwithoutlinebreaks"/>
    </attribute>
  </define>
  <define name="input.elem" combine="choice">
    <ref name="input.search.elem"/>
  </define>
  <define name="input.tel.elem">
    <a:documentation>Telephone Number: &lt;input type='tel'&gt;</a:documentation>
    <element name="input">
      <ref name="input.tel.attrs"/>
    </element>
  </define>
  <define name="input.tel.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="common-form.attrs"/>
      <ref name="shared-input.attrs"/>
      <ref name="input.tel.attrs.type"/>
      <optional>
        <ref name="input.tel.attrs.value"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.textbox"/>
          <ref name="common.attrs.aria.implicit.combobox"/>
          <ref name="common.attrs.aria.role.textbox"/>
          <ref name="common.attrs.aria.role.combobox"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="input.tel.attrs.type">
    <attribute name="type">
      <value type="string" datatypeLibrary="">tel</value>
    </attribute>
  </define>
  <define name="input.tel.attrs.value">
    <attribute name="value">
      <ref name="form.data.stringwithoutlinebreaks"/>
    </attribute>
  </define>
  <define name="input.elem" combine="choice">
    <ref name="input.tel.elem"/>
  </define>
  <define name="input.color.elem">
    <a:documentation>Color: &lt;input type='color'&gt;</a:documentation>
    <element name="input">
      <ref name="input.color.attrs"/>
    </element>
  </define>
  <define name="input.color.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="common-form.attrs"/>
      <ref name="input.color.attrs.type"/>
      <optional>
        <ref name="input.color.attrs.value"/>
      </optional>
      <ref name="shared-input.attrs"/>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="input.color.attrs.type">
    <attribute name="type">
      <value type="string" datatypeLibrary="">color</value>
    </attribute>
  </define>
  <define name="input.color.attrs.value">
    <attribute name="value">
      <choice>
        <value type="string" datatypeLibrary=""/>
        <ref name="form.data.color"/>
      </choice>
    </attribute>
  </define>
  <define name="input.elem" combine="choice">
    <ref name="input.color.elem"/>
  </define>
  <define name="output.elem">
    <a:documentation>Form Output: &lt;output&gt;</a:documentation>
    <element name="output">
      <interleave>
        <ref name="output.inner"/>
        <ref name="output.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="output.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="common-form.attrs.name"/>
      </optional>
      <optional>
        <ref name="common-form.attrs.form"/>
      </optional>
      <optional>
        <ref name="output.attrs.for"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.status"/>
          <ref name="common.attrs.aria"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="output.attrs.for">
    <attribute name="for">
      <data type="string" datatypeLibrary=""/>
      <!-- REVISIT spec says space- -not whitespace -->
    </attribute>
  </define>
  <define name="output.inner">
    <ref name="common.inner.phrasing"/>
  </define>
  <define name="textarea.attrs.rows-and-cols-wf1.inner" combine="interleave">
    <a:documentation>Text Area: &lt;textarea&gt;, extensions</a:documentation>
    <notAllowed/>
  </define>
  <define name="textarea.attrs.rows-and-cols-wf1" combine="choice">
    <empty/>
  </define>
  <define name="textarea.attrs" combine="interleave">
    <interleave>
      <optional>
        <ref name="shared-form.attrs.maxlength"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.minlength"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.autofocus"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.required"/>
      </optional>
      <optional>
        <ref name="textarea.attrs.placeholder"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.dirname"/>
      </optional>
      <optional>
        <ref name="textarea.attrs.rows"/>
      </optional>
      <choice>
        <interleave>
          <ref name="textarea.attrs.wrap.hard"/>
          <ref name="textarea.attrs.cols"/>
        </interleave>
        <interleave>
          <optional>
            <ref name="textarea.attrs.wrap.soft"/>
          </optional>
          <optional>
            <ref name="textarea.attrs.cols"/>
          </optional>
        </interleave>
      </choice>
      <optional>
        <ref name="shared-form.attrs.inputmode"/>
      </optional>
      <optional>
        <ref name="input.attrs.autocomplete.any"/>
      </optional>
    </interleave>
  </define>
  <define name="textarea.attrs.wrap.hard">
    <attribute name="wrap">
      <value type="string" datatypeLibrary="">hard</value>
    </attribute>
  </define>
  <define name="textarea.attrs.wrap.soft">
    <attribute name="wrap">
      <value type="string" datatypeLibrary="">soft</value>
    </attribute>
  </define>
  <define name="textarea.attrs.placeholder">
    <attribute name="placeholder">
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <!-- REVISIT should the options in datalist be non-selectable? -->
  <define name="datalist.elem">
    <a:documentation>List of Prefill Data: &lt;datalist&gt;</a:documentation>
    <element name="datalist">
      <interleave>
        <ref name="datalist.inner"/>
        <ref name="datalist.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="datalist.inner">
    <interleave>
      <zeroOrMore>
        <ref name="option.elem"/>
      </zeroOrMore>
      <ref name="common.inner.phrasing"/>
    </interleave>
  </define>
  <define name="datalist.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.listbox"/>
          <!-- aria-multiselectable must be false; check by assertions -->
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.menuitem"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="button.submit.attrs" combine="interleave">
    <a:documentation>Complex Submit Button: &lt;button type='submit'&gt;, extensions</a:documentation>
    <interleave>
      <optional>
        <ref name="shared-form.attrs.formaction"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.autofocus"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.formenctype"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.formmethod"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.formtarget"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.formnovalidate"/>
      </optional>
    </interleave>
  </define>
  <define name="button.reset.attrs" combine="interleave">
    <a:documentation>Complex Reset Button: &lt;button type='reset'&gt;, extensions</a:documentation>
    <optional>
      <ref name="shared-form.attrs.autofocus"/>
    </optional>
  </define>
  <define name="button.button.attrs" combine="interleave">
    <a:documentation>Complex Push Button: &lt;button type='button'&gt;, extensions</a:documentation>
    <optional>
      <ref name="shared-form.attrs.autofocus"/>
    </optional>
  </define>
  <define name="form.attrs" combine="interleave">
    <a:documentation>Form: &lt;form&gt;, extensions</a:documentation>
    <interleave>
      <optional>
        <ref name="form.attrs.novalidate"/>
      </optional>
      <optional>
        <ref name="form.attrs.target"/>
      </optional>
      <optional>
        <ref name="form.attrs.autocomplete"/>
      </optional>
    </interleave>
  </define>
  <define name="form.attrs.novalidate">
    <attribute name="novalidate">
      <choice>
        <value type="string" datatypeLibrary="">novalidate</value>
        <value type="string" datatypeLibrary=""/>
      </choice>
    </attribute>
  </define>
  <define name="form.attrs.target">
    <attribute name="target">
      <data type="string">
        <param name="pattern">()|([^_].*)|(_[bB][lL][aA][nN][kK])|(_[sS][eE][lL][fF])|(_[pP][aA][rR][eE][nN][tT])|(_[tT][oO][pP])</param>
      </data>
    </attribute>
  </define>
  <define name="form.attrs.autocomplete">
    <attribute name="autocomplete">
      <choice>
        <value type="string" datatypeLibrary="">on</value>
        <value type="string" datatypeLibrary="">off</value>
      </choice>
    </attribute>
  </define>
  <!-- REVISIT should this be case-insensitive in conforming XHTML documents? -->
  <define name="form.attrs.enctype.data" combine="choice">
    <value type="string" datatypeLibrary="">text/plain</value>
  </define>
  <define name="fieldset.attrs" combine="interleave">
    <a:documentation>Fieldset: &lt;fieldset&gt;, extensions</a:documentation>
    <ref name="common-form.attrs"/>
  </define>
  <define name="select.attrs" combine="interleave">
    <a:documentation>Selection Menu: &lt;select&gt;, Extensions</a:documentation>
    <interleave>
      <optional>
        <ref name="shared-form.attrs.autofocus"/>
      </optional>
      <optional>
        <ref name="shared-form.attrs.required"/>
      </optional>
      <optional>
        <ref name="input.attrs.autocomplete.any"/>
      </optional>
    </interleave>
  </define>
</grammar>
